@model PineappleSupermarket.Models.User

@{
    ViewBag.Title = "Delete";
}


<body>
    <h2>User Delete</h2>
    <p>Desea eliminar este User?</p>

    @using (Html.BeginForm("Delete", "User", FormMethod.Post))
    {
        <fieldset>
            <legend>User Detail</legend>

            <div class="display">
                <p> <b>@Html.DisplayNameFor(model => model.Username):</b> @Html.DisplayFor(model => model.Username)</p>
            </div>

            <div class="display">
                <p> <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)</p>
            </div>

        </fieldset>

        <p>
            <input type="submit" value="Delete" />
        </p>
    }
    <p>
        @Html.ActionLink("Index", "Index", "User")
    </p>
</body>
